# vim: filetype=zsh

alias rm='rm -i'

alias ls='ls --color=auto'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias v=vim
alias vi=vim
alias view='vim -R'
alias viewhex="view -b -c '%!xxd'"
alias busyboxvi='busybox vi'
alias e='emacs -nw'

alias suvi='sudo -H vim'
alias suv=suvi

alias date-yymmddhhmmss='date +%Y%m%d%H%M%S'
alias date-rfc-3339="date --rfc-3339=seconds | sed 's/ /T/'"
alias df='df -Th'
alias google='w3m https://www.google.co.jp'

# Ruby
alias be='bundle exec'
alias bi='bundle install'
alias bi-pvb='bundle install --path vendor/bundle'
alias bi-bbb='bundle install --binstubs .bundle/bin'
alias bi-pvb-bbb='bundle install --path vendor/bundle --binstubs .bundle/bin'
alias bi-bbb-pvb='bundle install --binstubs .bundle/bin --path vendor/bundle'
alias bi-pvb-j4='bundle install --path vendor/bundle -j4'

# Git
alias g=git
alias gac='git add -A :/ && git commit'
alias gaca='git add -A :/ && git commit --amend'
alias gad='git add'
alias gadd='git add'
alias gbr='git branch'
alias gca='git commit --amend'
alias gci='git commit'
alias gco='git checkout'
alias gdf='git diff'
alias gdfc='git diff --cached'
alias gfop='git fetch origin --prune'
alias gfup='git fetch upstream --prune'
alias gic='git init && git add -A :/ && git commit'
alias glg="git log --stat --pretty=format:'%Cblue%h %Cgreen%ai %Cred%an %d
%Creset%s'"
alias glggo='git log --graph --oneline'
alias gnow='git add -A :/ && git commit -m "[WIP]"'
alias gp='git push'
alias gpo='git push origin'
alias gpom='git push origin master'
alias gpomgh='git push origin master && git push origin master:gh-pages'
alias gpl='git pull'
alias gpum='git push upstream master'
alias gremote='git remote -v'
alias grbh1id='git rebase HEAD^ --ignore-date'
alias grfh='git reset FETCH_HEAD --hard'
alias grfhh=grfh
alias grhh='git reset HEAD --hard'
alias grh1h='git reset HEAD^ --hard'
alias gs='git status -sb'
alias gst='git status'
alias gshow='git show'
alias gphm='git push heroku master'
alias gacarbh1cdiad='git add -A :/ && git commit --amend && git rebase HEAD^ --committer-date-is-author-date'

alias ta='tig --all'

alias iamonssh='[ ! -z "$SSH_CLIENT" ]'
alias iamontmux='[ ! -z $TMUX ]'

alias ctags-ruby='ctags --langmap=RUBY:.rb --exclude="*.js" --exclude=".git*" -R .'

# ref. http://vim.wikia.com/wiki/256_colors_setup_for_console_Vim
alias tmux='tmux -2'

alias ht=htop

alias mt=mutt

alias unzipsjis='unzip -O cp932'

alias shs='echo Use "pyhs"; python3 -m http.server'
alias pyhs='python3 -m http.server'
